//=========================================================
//  Issue Page
//---------------------------------------------------------

.issue-page {
  padding: 16px;

  .issue-page_question--card {
    margin: 0 -16px;
    overflow: hidden;
    margin-top: -16px;
  }
  .issue-page_question {
    padding: 16px;
    border-radius: 9px;
    color: $dark-color;

    &__bodyText {
      h2 {
        font-size: 22px;
        font-weight: 500;
        color: #FFF;
        text-align: center;
        background: $primary-color;
        margin: -16px;
        padding: 33px;
      }
    }
    &__userName {
      font-size: 16px;
      font-weight: bold;
      padding-left: 12px;
    }

    &__wish--text {
      color: #ffa013;
      display: block;
      font-weight: 400;
      font-size: 17px;
    }

    &__bottom {
      width: 100%;
      border-top: 1px #efebeb solid;
      margin-top: 16px;
      padding-top: 5px;
    }
  }
}

.aeg-card-group {
  font-size: 14px;
  margin: 16px 0 !important;
  > .card {
    margin: 14px 0 0 0 !important;
  }
}