//=========================================================
//  Issue Page
//---------------------------------------------------------

.issue-page {
  padding: 16px;

  .issue-page_question--card {
    //border-radius: 6px !important;
    margin: 0 -16px;
    overflow: hidden;
    margin-top: -16px;
  }
  .issue-page_question {
    padding: 16px;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $dark-color;

    &__avatar {
      flex: 1;
    }
    &__bodyText {
      h2 {
        font-size: 22px;
        font-weight: 500;
        color: #FFF;
        text-align: center;
        background: $primary-color;
        margin: -16px;
        padding: 33px;
      }
      flex: 4;
    }
    &__userName {
      font-size: 16px;
      font-weight: bold;
      flex: 5;
      padding-left: 12px;
    }

    &__wish--text {
      color: #ffa013;
      display: block;
      font-weight: 400;
      font-size: 17px;
    }

    &__bottom {
      width: 100%;
      border-top: 1px #efebeb solid;
      margin-top: 16px;
      display: flex;
      align-items: center;
      padding-top: 5px;
    }
  }
}
