//=========================================================
//  TaskForm
//---------------------------------------------------------

.issue-create {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px 20px;

  .issue-create__input {
    padding: 10px 0;
    height: 55px;
    &.issue-create__input--cta {
      display: flex;
      width: 77%;
      justify-content: space-around;
      padding: 13px 0;
    }
  }
}
