//=========================================================
//  IssueItem
//---------------------------------------------------------

.issue-item {
  &-left {
    &--bodyText {
      font-size: 14px;
      font-weight: 500;
      color: $primary-color;
    }
    &--user {
      font-size: 12px;
    }
  }
  &-right {
    > img {
      max-width: 32px;
      max-height: 32px;
    }
    .info-icons {
      padding-top: 5px;
      .like-icon {
        svg {
          width: 16px !important;
          height: 16px !important;
        }
        span {
          font-size: 14px;
          color: red;
        }
      }
    }
  }
}