//=========================================================
//  IssueItem
//---------------------------------------------------------

.issue-item {
  .info-icons {
    padding-top: 5px;
    &--likes {
      span {
        font-size: 14px;
        color: red;
      }
    }
    &--answers {
      span {
        font-size: 14px;
        color: #2185D0;
      }
    }
  }
  &-left {
    &--bodyText {
      font-size: 14px;
      font-weight: 500;
      color: $primary-color;
      line-height: 17px;
      padding-bottom: 5px;
    }
    &--user {
      font-size: 12px;
    }
  }
  &-right {
    > img {
      max-width: 32px;
      max-height: 32px;
    }
  }
}