//=========================================================
//  TrendingItem
//---------------------------------------------------------

.trending-item {
  display: flex;
  outline: none;
  border-bottom: 1px dotted #666;
  height: 60px;
  overflow: hidden;
  color: #fff;
  font-weight: 300;

}

.trending-item--editing {
  border-bottom: 1px dotted #ccc;
}
