@import
"settings";


@import
"components/partials/Header",
"../../vendor/css/foundation.min",
"pages/sign-in",
"ui/ui",
"components/issue/IssueSearch",
"components/issue/IssueAppRank",
"components/issue/IssueCreate",
"components/issue/IssueItem",
"pages/issue-page",
"components/issue/IssueList",
"components/trending/TrendingList",
"components/trending/TrendingItem";


html {
  overflow-y: scroll;
  background: #f9f9f9;
}

body {
  padding-bottom: 120px;
  font-family: $base-font-family !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}

::selection {
  background: rgba(200,200,255,.1);
}

.text_primary {
  color: #7ED321;
}

.main {
  padding-top: 58px;
}