@import
"settings";

@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins",
"~minx/src/reset",
"~minx/src/elements";

@import
"grid",
'button',
"header",
"sign-in",
"notification",
"issue/issue-filters",
"issue/issue-search",
"issue/issue-create",
"issue/issue-item",
"issue/issue-page",
"issue/issue-list",
"task/task-filters",
"task/task-form",
"task/task-item",
"task/task-list",
"trending/trending-list",
"trending/trending-item";


html {
  overflow-y: scroll;
}

body {
  padding-bottom: 120px;
}

.main {
  margin-top: 64px;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none !important;
}

::selection {
  background: rgba(200,200,255,.1);
}
