//=========================================================
//  Issue Page
//---------------------------------------------------------

.issue-page {
  padding: 16px;

  .issue-box__question {
    border: 1px gray solid;
    padding: 8px;
    text-align: center;
  }
}