//=========================================================
//  IssueList
//---------------------------------------------------------

.issue-list {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  > span {
    align-self: center;
  }
}