//=========================================================
//  Header
//---------------------------------------------------------

.site-header {
  background: white;
  height: 59px;
  > img {
    width: auto;
    height: 29px;
  }
}
